[Unit]
Description=Druid Historical Node
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/hdp/current/druid/bin/historical.sh start
Group=druid
Restart=always
Type=forking
User=druid
WorkingDirectory=/usr/hdp/current/druid

[Install]
WantedBy=multi-user.target
