[Unit]
Description=Superset
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/hdp/current/superset/bin/superset runserver -p 9999
Restart=always
Type=simple
WorkingDirectory=/usr/hdp/current/druid-overlord

[Install]
WantedBy=multi-user.target
